@font-face {
  font-family: 'Dana';
  src: url('/fonts/Dana-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dana';
  src: url('/fonts/Dana-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dana';
  src: url('/fonts/Dana-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dana';
  src: url('/fonts/Dana-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    font-family: 'Dana', sans-serif;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  #root {
    height: 100%;
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
    html {
      overflow: auto;
    }
    
    body {
      overflow: auto;
    }
    
    #root {
      overflow: auto;
    }
  }
}
